Source: kdeplasma-addons
Section: utils
Priority: optional
Maintainer: Debian Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Ana Beatriz Guerrero Lopez <ana@debian.org>, Sune Vuorela <debian@pusling.com>, Fathi Boudra <fabo@debian.org>,
 Armin Berres <trigger+debian@space-based.de>, Modestas Vainius <modestas@vainius.eu>
Build-Depends: cdbs (>= 0.4.51), debhelper (>= 6), cmake (>= 2.6), quilt,
 kdebase-workspace-dev (>= 4:4.1.0), libglu1-mesa-dev, libqt4-opengl-dev,
 libboost-dev
Standards-Version: 3.7.3
Homepage: http://plasma.kde.org/
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/branches/kde4/packages/kdeplasma-addons
Vcs-Svn: svn://svn.debian.org/pkg-kde/branches/kde4/packages/kdeplasma-addons

Package: kdeplasma-addons
Architecture: any
Section: kde
Depends: ${shlibs:Depends}, kdeplasma-addons-data (= ${source:Version})
Replaces: kdebase-workspace-bin (<< 4:4.0.0), extragear-plasma, kdeplasmoids
Conflicts: extragear-plasma, kdeplasmoids
Description: plasmoids for KDE 4 Plasma - main package
 KDE Plasmoids module is a collection of additional Plasma data engines 
 and widgets (applets). It is part of the official KDE 4 distribution.
 .
 This package contains Plasma data engines and widgets (applets). Install
 this package if you want to use plasmoids from the KDE Plasmoids module.

Package: kdeplasma-addons-data
Architecture: all
Section: kde
Replaces: extragear-plasma-data, kdeplasmoids-data
Conflicts: extragear-plasma-data, kdeplasmoids-data
Description: plasmoids for KDE 4 Plasma - data files
 KDE Plasmoids module is a collection of additional Plasma data engines 
 and widgets (applets). It is part of the official KDE 4 distribution.
 .
 This package contains the architecture-independent data files needed by
 kdeplasma-addons.

Package: kdeplasma-addons-libs4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: extragear-plasma, kdeplasmoids-libs4
Conflicts: extragear-plasma, kdeplasmoids-libs4
Description: plasmoids for KDE 4 Plasma - public libraries
 KDE Plasmoids module is a collection of additional Plasma data engines 
 and widgets (applets). It is part of the official KDE 4 distribution.
 .
 This package contains public libraries included in the KDE Plasmoids module.

Package: kdeplasma-addons-dev
Architecture: any
Section: libdevel
Replaces: kdeplasmoids-dev
Conflicts: kdeplasmoids-dev
Depends: kdeplasma-addons-libs4 (= ${binary:Version}), ${sameVersionDep:libplasma-dev:kdeplasma-addons-libs4}
Description: plasmoids for KDE 4 Plasma - development files
 KDE Plasmoids module is a collection of additional Plasma data engines 
 and widgets (applets). It is part of the official KDE 4 distribution.
 .
 This package contains development files for the libraries provided in the
 `kdeplasma-addons-libs4' package.

Package: kdeplasma-addons-dbg
Section: libdevel
Architecture: any
Priority: extra
Conflicts: kdeplasmoids-dbg
Replaces: kdeplasmoids-dbg
Depends: kdeplasma-addons (= ${binary:Version}), kdebase-workspace-dbg
Description: debugging symbols for kdeplasma-addons
 This package contains the debugging symbols associated with kdeplasma-addons.
 They will automatically be used by gdb for debugging kdeplasma-addons related
 issues.
