#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk

.PHONY: override_dh_auto_test

override_dh_strip:
	$(overriden_command) --dbg-package=kdeplasma-addons-dbg

override_auto_clean:
	$(overriden_command)
	find applets/lancelot/tools/puck -name *.pyc -delete
